@using Paup_2021_ServisVozila.Misc
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - PAUP Projekt Servis Vozila 2021</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Servis vozila 2021", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                        @if (User.Identity.IsAuthenticated && ((User as LogiraniKorisnik).IsInRole(OvlastiKorisnik.Administrator) || (User as LogiraniKorisnik).IsInRole(OvlastiKorisnik.Korisnik)))
                        {
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    Automobili
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Popis", "Popis", "Automobili")</li>
                                    <li>@Html.ActionLink("Dodaj auto", "DodajAuto", "Automobili")</li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    Servisi
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Popis", "Popis", "Servis")</li>
                                    <li>@Html.ActionLink("Narudžba", "Naruzdba", "Servis")</li>
                                    <li>@Html.ActionLink("Popis računa", "Popis", "Racun")</li>
                                </ul>
                            </li>
                        }
                        @if (User.Identity.IsAuthenticated &&
                        (User as LogiraniKorisnik).IsInRole(OvlastiKorisnik.Administrator))
                        {
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    Admin meni
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Dodaj marku", "DodajMarku", "MarkeAutomobili")</li>
                                    <li>@Html.ActionLink("Dodaj artikl", "DodajArtikl", "Artikli")</li>
                                    <li>@Html.ActionLink("Popis artikla", "Popis", "Artikli")</li>
                                    <li>@Html.ActionLink("Popis marki", "Popis", "MarkeAutomobili")</li>
                                    <li>@Html.ActionLink("Popis korisnika", "Popis", "Korisnici")</li>
                                </ul>
                            </li>


                        }
                    </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink((User as LogiraniKorisnik).PrezimeIme, "Index", "Home")</li>
                        <li>@Html.ActionLink("Odjava", "Odjava", "Korisnici")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Registracija", "Registracija", "Korisnici")</li>
                        <li>@Html.ActionLink("Prijava", "Prijava", "Korisnici")</li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.ToString("dd.MM.yyyy") - Servis Vozila</p>
            <p></p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
