@using Paup_2021_ServisVozila.Models
@model List<Korisnik>
@{
    ViewBag.Title = "Popis korisnika";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Korisničko ime</th>
            <th>Email</th>
            <th>Prezime i ime</th>
            <th>Mobilni broj</th>
            <th>Administrator</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var kor in Model)
            {
                <tr>
                    <td>@kor.KorisnickoIme</td>
                    <td>@kor.Email</td>
                    <th>@kor.PrezimeIme</th>
                    <th>@kor.MobilniBroj</th>
                    <th>@kor.Admin</th>
                </tr>
            }
    </tbody>
</table>

