@using Paup_2021_ServisVozila.Models
@using Paup_2021_ServisVozila.Misc
@model List<Korisnik>
@{
    ViewBag.Title = "Popis korisnika";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Korisničko ime</th>
                <th>Email</th>
                <th>Prezime i ime</th>
                <th>Mobilni broj</th>
                <th>Ovlast</th>
                @if (User.Identity.IsAuthenticated && ((User as LogiraniKorisnik).IsInRole(OvlastiKorisnik.Administrator)))
                {
                    <th>Akcije</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var kor in Model)
            {
            <tr>
                <td>@kor.KorisnickoIme</td>
                <td>@kor.Email</td>
                <th>@kor.PrezimeIme</th>
                <th>@kor.MobilniBroj</th>
                <th>@(kor.Ovlast?.Naziv)</th>
                @if (User.Identity.IsAuthenticated && ((User as LogiraniKorisnik).IsInRole(OvlastiKorisnik.Administrator)))
                {
                    <td>
                        @Html.ActionLink("Ažuriraj", "Azuriraj", new { KorisnickoIme = kor.KorisnickoIme }, new { @class = "btn btn-warning btn-sm" })
                    </td>
                }
            </tr>
            }
        </tbody>
    </table>

