@using Paup_2021_ServisVozila.Models
@model List<Artikli>
@{
    ViewBag.Title = "Popis artikla";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID artikla</th>
            <th>Naziv artikla</th>
            <th>Jedinica mjere</th>
            <th>Cijena</th>
            <th>Akcije</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var artikl in Model)
        {
            <tr>
                <td>@artikl.id</td>
                <td>@artikl.Naziv</td>
                <td>@artikl.jedinicaMjere</td>
                <td>@artikl.cijena</td>
                <td>
                    @Html.ActionLink("Ažuriraj", "Azuriraj", new { id = artikl.id }, new { @class = "btn btn-warning btn-sm" })
                    @Html.ActionLink("Briši", "Brisi", new { id = artikl.id }, new { @class = "btn btn-warning btn-sm" })
                </td>
            </tr>
        }
</tbody>
    </table>

