@using Paup_2021_ServisVozila.Models
@model List<Servisi>
@{
    ViewBag.Title = "Popis servisa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID Servisa</th>
            <th>Datum kreiranja zahtjeva</th>
            <th>Datum pocetka servisa</th>
            <th>Datum zavrsetka servisa</th>
            <th>Auto ID</th>
            <th>Napomena vlasnika</th>
            <th>Napomena servisera</th>
            <th>Kilometraža</th>
            <th>Serviser</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var servis in Model)
        {
            <tr>
                <td>@servis.Id</td>
                <td>@servis.DatumKreiranja.ToString("dd.MM.yyyy")</td>
                <td>@servis.DatumPocetka.ToString("dd.MM.yyyy")</td>
                <td>@servis.DatumZavrsetka.ToString("dd.MM.yyyy")</td>
                <td>@(servis.AutoID)</td>
                <td>@servis.NapomenaVlasnika</td>
                <td>@servis.NapomenServisera</td>
                <td>@servis.Kilometraza</td>
                <td>@servis.Serviser</td>
                <td>@(servis.StatusId?.StatusAutomobila)</td>
            </tr>
        }
    </tbody>
</table>