@using Paup_2021_ServisVozila.Models
@using Paup_2021_ServisVozila.Misc
@model Servisi
@{
    ViewBag.Title = "Naruzdba servisa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Naruzdba", "Servis", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken();
    @Html.ValidationSummary(true, "Ispravite podatke!");

    if (User.Identity.IsAuthenticated && ((User as LogiraniKorisnik).IsInRole(OvlastiKorisnik.Korisnik)))
    {
        <div class="form-group">
            @Html.LabelFor(model => model.AutoID, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.DropDownListFor(model => model.AutoID, new SelectList(ViewBag.Vlasnik, "Vin", "Automobil"), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AutoID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DatumPocetka, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DatumPocetka, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DatumPocetka, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NapomenaVlasnika, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.NapomenaVlasnika, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NapomenaVlasnika, "", new { @class = "text-danger" })
            </div>
        </div>
    }
    else if (User.Identity.IsAuthenticated && ((User as LogiraniKorisnik).IsInRole(OvlastiKorisnik.Administrator)))
    {
        <div class="form-group">
            @Html.LabelFor(model => model.AutoID, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.DropDownListFor(model => model.AutoID, new SelectList(ViewBag.Svi, "Vin", "AutomobilAdmin"), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AutoID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DatumPocetka, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DatumPocetka, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DatumPocetka, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NapomenaVlasnika, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.NapomenaVlasnika, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NapomenaVlasnika, "", new { @class = "text-danger" })
            </div>
        </div>
    }

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success">
                <span class="glyphicon glyphicon-floppy-disk" aria-hidden="false"></span> Spremi
            </button>
        </div>
    </div>
}