@using Paup_2021_ServisVozila.Models
@using Paup_2021_ServisVozila.Misc
@model List<Servisi>
@{
    ViewBag.Title = "Popis servisa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID Servisa</th>
            <th>Datum kreiranja zahtjeva</th>
            <th>Vlasnik vozila</th>
            <th>Kilometraža</th>
            <th>Serviser</th>
            <th>Status</th>
            <th>Akcije</th>
        </tr>
    </thead>
    <tbody>
        @if (User.Identity.IsAuthenticated && (User as LogiraniKorisnik).IsInRole(OvlastiKorisnik.Korisnik))
        {
            foreach (var servis in Model)
            {
                if (servis?.idAuto.Vlasnik.KorisnickoIme == ViewBag.Korisnik)
                {
                    <tr>
                        <td>@servis.Id</td>
                        <td>@servis.DatumKreiranja.ToString("dd.MM.yyyy")</td>
                        <td>@(servis.idAuto?.Vlasnik?.PrezimeIme)</td>
                        <td>@servis.Kilometraza</td>
                        <td>@servis.Serviser</td>
                        <td>@(servis.StatusId?.StatusAutomobila)</td>
                        <td>
                            @Html.ActionLink("Detalji", "Detalji", new { id = servis.Id }, new { @class = "btn btn-info btn-sm" })
                        </td>
                    </tr>
                }
            }
        }
        else if (User.Identity.IsAuthenticated && (User as LogiraniKorisnik).IsInRole(OvlastiKorisnik.Administrator))
        {
            foreach (var servis in Model)
            {
                <tr>
                    <td>@servis.Id</td>
                    <td>@servis.DatumKreiranja.ToString("dd.MM.yyyy")</td>
                    <td>@(servis.idAuto?.Vlasnik?.PrezimeIme)</td>
                    <td>@servis.Kilometraza</td>
                    <td>@servis.Serviser</td>
                    <td>@(servis.StatusId?.StatusAutomobila)</td>
                    <td>
                        @Html.ActionLink("Detalji", "Detalji", new { id = servis.Id }, new { @class = "btn btn-info btn-sm" })
                        @Html.ActionLink("Dodaj račun", "DodajRacun", "Racun", new { id = servis.Id }, new { @class = "btn btn-info btn-sm" })
                    </td>
                </tr>
            }
        }

    </tbody>
</table>