@using Paup_2021_ServisVozila.Models
@model List<RacunStavke>
@{
    ViewBag.Title = "Popis stavki";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID stavke</th>
            <th>ID računa</th>
            <th>Redni broj</th>
            <th>Sifra artikla</th>
            <th>Kolicina</th>
            <th>Iznos</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var stavka in Model)
            {
                <tr>
                    <th>@stavka.id</th>
                    <th>@(stavka.RacunFK?.servis)</th>
                    <th>@stavka.redniBroj</th>
                    <th>@(stavka.sifraArtikla)</th>
                    <th>@stavka.kolicina</th>
                    <th>@stavka.iznos</th>
                </tr>
            }
    </tbody>
</table>
