@using Paup_2021_ServisVozila.Models
@using Paup_2021_ServisVozila.Misc
@model List<Automobili>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    BazaDbContext db = new BazaDbContext();
    var popisServisa = db.PopisServisa.OrderBy(x=>x.AutoID).ToList();
}

<h2>@ViewBag.Title</h2>
<table class="table table-striped">
    <thead>
        @if (User.Identity.IsAuthenticated && (User as LogiraniKorisnik).IsInRole(OvlastiKorisnik.Korisnik))
        {
            <tr>
                <th>VIN</th>
                <th>Vlasnik vozila</th>
                <th>Proizvođač</th>
                <th>Model</th>
                <th>Registracija</th>
                <th>Akcije</th>
            </tr>
        }
        else if (User.Identity.IsAuthenticated && (User as LogiraniKorisnik).IsInRole(OvlastiKorisnik.Administrator))
        {
            <tr>
                <th>VIN</th>
                <th>Vlasnik vozila</th>
                <th>Proizvođač</th>
                <th>Model</th>
                <th>Registracija</th>
                <th>Akcije</th>
            </tr>
        }
    </thead>
    <tbody>
        @if (User.Identity.IsAuthenticated && (User as LogiraniKorisnik).IsInRole(OvlastiKorisnik.Korisnik))
        {
            foreach (var auto in Model)
            {
                if (auto?.Vlasnik.KorisnickoIme == ViewBag.Korisnik)
                {
                    <tr>
                        <td>@auto.Vin</td>
                        <td>@(auto.Vlasnik?.PrezimeIme)</td>
                        <td>@(auto.marka?.Marke)</td>
                        <td>@auto.Model</td>
                        <td>@auto.Registracija</td>
                        <td>
                        @Html.ActionLink("Ažuriraj", "Azuriraj", new { vin = auto.Vin }, new { @class = "btn btn-warning btn-sm" })
                        @if ((popisServisa.FirstOrDefault(x=>x.AutoID == auto.Vin)==null))
                        {
                            @Html.ActionLink("Briši", "Brisi", new { id = auto.Vin}, new { @class="btn btn-info btn-sm"})
                        }
                            </td>
                    </tr>
                }
            }
        }
        else if (User.Identity.IsAuthenticated && (User as LogiraniKorisnik).IsInRole(OvlastiKorisnik.Administrator))
        {
            foreach (var auto in Model)
            {
                <tr>
                    <td>@auto.Vin</td>
                    <td>@(auto.Vlasnik?.PrezimeIme)</td>
                    <td>@(auto.marka?.Marke)</td>
                    <td>@auto.Model</td>
                    <td>@auto.Registracija</td>
                    <td>
                        @Html.ActionLink("Ažuriraj", "Azuriraj", new { vin = auto.Vin }, new { @class = "btn btn-warning btn-sm" })
                        @if ((popisServisa.FirstOrDefault(x => x.AutoID == auto.Vin) == null))
                        {
                            @Html.ActionLink("Briši", "Brisi", new { id = auto.Vin }, new { @class = "btn btn-info btn-sm" })
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<p>
    <a href="@Url.Action("IspisVozila", "Automobili")" class="btn btn-primary">
        <span class="glyphicon glyphicon-print" aria-hidden="true"></span> Kreiraj PDF
    </a>
</p>
