@using Paup_2021_ServisVozila.Models
@model List<Automobili>
@{
    ViewBag.Title = "Popis automobila";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>VIN</th>
            <th>Vlasnik vozila</th>
            <th>Proizvođač</th>
            <th>Model</th>
            <th>Registracija</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var auto in Model)
        {
            <tr>
                <td>@auto.Vin</td>
                <td>@(auto.Vlasnik?.PrezimeIme)</td>
                <th>@(auto.marka?.Marke)</th>
                <th>@auto.Model</th>
                <th>@auto.Registracija</th>
            </tr>
        }
    </tbody>
</table>
